/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

process {
    withName: 'PATHOPLEXUS_FETCH' {
        cpus = 4
        memory   = 5.GB
        ext.args = [
            organism:       params.pathoplexus_organism,
            date_from:      params.pathoplexus_date_from,
            submitted_date: params.pathoplexus_submitted_date ?: '',
            length_from:    params.pathoplexus_length_from ?: '',
        ]
    }
}

process {
    withName: 'PATHOPLEXUS_FETCH_OUTGROUP' {
        cpus = 1
        memory   = 2.GB
        ext.args = [
            organism:       params.pathoplexus_organism,
            date_from:      params.outgroup_date_from ?: '',
            date_to:        params.outgroup_date_to ?: '',
            length_from:    params.outgroup_length_from ?: '',
        ]
    }
}

process {
    withName: 'CHECK_NEW_SUBMISSIONS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.equals('has_submissions.txt') ? null : filename }
        ]
    }
}

process {
    withName: 'CLEAN_METADATA' {
        ext.args = [
            filter_invalid_dates: params.filter_invalid_dates ?: false,
        ]
        publishDir = [
            path: { "${params.outdir}/clean_metadata" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'NEXTCLADE_RUN' {
        ext.args = params.build_initial_tree_with_reference ? '--include-reference' : ''
    }
}

process {
    withName: 'BEAST2_XML_GEN' {
        ext.args = [
            sample_id_field:       params.sample_id_field ?: (params.fasta ? 'strain' : 'accessionVersion'),
            collection_date_field: params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate'),
        ]
        publishDir = [
            path: { "${params.outdir}/BEAST/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : (filename.endsWith('.xml') ? 'beast.xml' : filename) }
        ]
    }
}

process {
    withName: 'IQTREE|IQTREE_POST_FILTER' {
        cpus = 12
        memory   = 10.GB
        ext.args = '-m GTR+G -keep-ident'
    }
}

process {
    withName: 'BEAST2' {
        ext.seed     = { meta.seed }
        ext.prefix   = { "${meta.template_id}_${meta.id}" }
        ext.packages = params.beast2_packages ?: ''
        time       = 4.d
        cpus       = 1
        memory     = 10.GB
        publishDir = [
            path: { "${params.outdir}/BEAST/${meta.template_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'TREEANNOTATOR' {
        ext.burnin   = 0
        ext.topology = 'MCC'
        ext.lowMem   = true
        cpus = 12
        memory   = 64.GB
    }
}

process {
    withName: 'BEAST_PYPE_STATIC_DIAGNOSE|BEAST_PYPE_SUMMARY_TREE_REPORT|BEAST_PYPE_PARAMETERS_REPORT|DATA_AND_RUN_STATS_REPORT|TREEANNOTATOR|COMBINE_REMOVED_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/outputs_and_reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'METADATA_REPORT' {
        ext.collection_date_field = params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate')
    }
}

process {
    withName: 'TEMPEST_METADATA' {
        ext.args = [
            sample_id_field: params.sample_id_field ?: (params.fasta ? 'strain' : 'accessionVersion'),
            date_field:      params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate'),
        ]
        publishDir = [
            path: { "${params.outdir}/iqtree" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'PRUNE_TREE' {
        publishDir = [
            path: { "${params.outdir}/pruned_tree" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'ITERATIVE_TREETIME|ITERATIVE_TREETIME_POST' {
        publishDir = [
            path: { "${params.outdir}/iterative_treetime" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'EMERGENCE_ANALYSIS' {
        ext.name_col  = params.sample_id_field ?: (params.fasta ? 'strain' : 'accessionVersion')
        ext.date_col  = params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate')
        ext.y_cut_val = params.emergence_y_cut_val ?: 0.00081
        ext.n_sd      = params.emergence_n_sd ?: 3
        publishDir = [
            path: { "${params.outdir}/emergence_analysis" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'TEMPEST_METADATA_NO_REF' {
        ext.args = [
            sample_id_field: params.sample_id_field ?: (params.fasta ? 'strain' : 'accessionVersion'),
            date_field:      params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate'),
        ]
        publishDir = [
            path: { "${params.outdir}/treetime" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'TRIM_SEQUENCES|TRIM_SEQUENCES_OUTGROUP' {
        ext.args = [
            max_length: params.trim_max_length ?: 18900,
        ]
    }
}

process {
    withName: 'DATA_AND_RUN_STATS_REPORT' {
        ext.collection_date_field = params.collection_date_field ?: (params.fasta ? 'date' : 'sampleCollectionDate')
    }
}
