/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running multi-XML tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests pipeline function with multiple BEAST2 XML templates to verify
    comparative reporting mode.

    Use as follows:
        nextflow run PHAC-NML/ebola-flow -profile test_multi_xml,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    withName: 'TREEANNOTATOR' {
        ext.burnin   = 0
        ext.topology = 'MCC'
        ext.lowMem   = false
        cpus = 3
        memory   = '15 GB'
    }
}

params {
    config_profile_name        = 'Test multi-XML profile'
    config_profile_description = 'Test dataset with multiple BEAST2 XML templates for comparative reporting'

    // BEAST2 XML templates (multiple)
    template_xml               = [
        "${projectDir}/template_beast_xmls/for_use_in_tests/coal_exp_fixed_clock_1_2e-3.xml",
        "${projectDir}/template_beast_xmls/for_use_in_tests/coal_exp_fixed_clock_1_9e-3.xml"
    ]

    // Sequence filtering
    exclude_ids                = "${projectDir}/conf/exclude_list.csv"
    filter_invalid_dates       = true

    // BEAST2 run options
    beast_repeats              = 2
    beast_seed                 = 42

    // Build initial tree with reference for rooting
    build_initial_tree_with_reference = true
    reference_date             = '2007-11'

    // Outgroup sequences for tree rooting (covering 2007)
    outgroup_date_from         = '2007-01-01'
    outgroup_date_to           = '2007-12-31'

    // TreeTime analysis options
    run_treetime               = true
    treetime_clock_filter      = 5.0      // Remove sequences with z-score > 5 SD
    treetime_clock_filter_method = 'local'

    // Pathoplexus download filter
    pathoplexus_date_from      = '2026-01-01'
    pathoplexus_date_to = '2026-05-23'

    // Output
    outdir                     = 'test_results'
}
